body {
  margin: 0;
  background-color: #D7D7D7;
}
#header {
  display: inline-block;
  background-image: url("../Pics/header3.jpg");
  background-size: 100%;
  width: 100%;
  height: 20vh;
  margin: 0;
  padding: 0;
}
#logo {
  position: absolute;
  height: 7vw;
  width: 7vw;
  border-radius: 5vw 5vw 5vw 5vw;
  background-image: url("../Pics/logo.jpg");
  background-size: cover;
  left: 2vw;
  top: 3vh;
  border: 1px solid black;
}
#nav {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 7vh;
  vertical-align: middle;
  background-color: #202121;
}
.menuItem {
  display: inline;
  position: absolute;
  height: 7vh;
  line-height: 1vh;
  width: 10vw;
  text-align: center;
  transition-duration: 1s;
  background-color: #202121;
}
.menuItem:hover {
  background-color: #404040;
}
.menuItem p {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}
@media only screen and (max-width: 1450px) {
  .menuItem p {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 900px) {
  .menuItem p {
    font-size: 0.8rem;
  }
}
#heading {
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center;
}
#heading h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
}
#mainPanel {
  position: absolute;
  height: 50vh;
  width: 90vw;
  left: 5vw;
  top: 50vh;
  /*border: 1px solid black;*/
  border-radius: 2vw 2vw 2vw 2vw;
}
.subPanel {
  position: absolute;
  height: 50vh;
  width: 30vw;
  /*border-left: 1px solid black;
  border-right: 1px solid black;*/
}
.bodyText {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  margin: 2vw;
}
.linkText {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}
.linkText a {
  color: black;
  text-decoration: none;
}
.panelText {
  position: absolute;
  text-align: center;
  top: 15vh;
  height: 20vh;
  width: 100%;
  line-height: 5vh;
}
#imageFrame1 {
  position: absolute;
  width: 8vw;
  height: 8vw;
  left: 11vw;
  background-image: url("../Pics/webdesign.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#imageFrame2 {
  position: absolute;
  width: 8vw;
  height: 8vw;
  left: 11vw;
  background-image: url("../Pics/money.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#imageFrame3 {
  position: absolute;
  width: 8vw;
  height: 8vw;
  left: 11vw;
  background-image: url("../Pics/mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#linkContainer {
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: 85vh;
  margin-bottom: 30vh;
}
.link {
  position: absolute;
  width: 30vw;
  text-align: center;
}
#hov1:hover a{
  color: #404040;
  font-size: 1.2em;
}
#hov2:hover a{
  color: #404040;
  font-size: 1.2em;
}
#hov3:hover a{
  color: #404040;
  font-size: 1.2em;
}
a {
  transition-duration: 1s;
}
#aboutPanel {
  position: absolute;
  width: 90vw;
  height: 60vh;
  top: 35vh;
  left: 5vw;
  margin-bottom: 8vh;
}
.aboutSubPanel {
  position:absolute;
  width: 45vw;
  height: 60vh;
  text-align: center;
}
#pricingTable {
  position: absolute;
  top: 35vh;
  left: 5vw;
  width: 90vw;
  height: 50vh;
  border: 1px solid black;
  border-radius: 2vw 2vw 2vw 2vw;
  background-color: #9BBDDE; /*#C0DDEC;*/
}
.Column {
  width: 22.5vw;
  position: absolute;
  height: 100%;
  border-right: 1px solid black;
}
.key {
  position: absolute;
  width: 22.5vw;
  height: 16.6666vh;
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 10vh;
}
.package {
  position: absolute;
  width: 22.5vw;
  height: 16.6666vh;
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 10vh;
}
.desc {
  position: absolute;
  top: 16.6666vh;
  width: 22.5vw;
  height: 16.6666vh;
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 4vh;
}
.price {
  position: absolute;
  top: 33.3333vh;
  width: 22.5vw;
  height: 16.6666vh;
  text-align: center;
  line-height: 10vh;
}
#hiddenPanel {
  display: none;
  background-color: #BFBFBF;
  transition-duration: 1s;
  line-height: 7vh;
  border-radius: 1vw 1vw 1vw 1vw;
}
#exampleButton {
  position: absolute;
  height: 7.5vh;
  line-height: 0vh;
  text-align: center;
  background-color: grey;
  width: 18vw;
  left: 6vw;
  transition-duration: 1s;
  border-radius: 5px 5px 5px 5px;
}
#exampleButton p {
  transition-duration: 1s;
}
#exampleButton:hover {
  width: 21vw;
  height: 12.5vh;
  left: 4.5vw;
  background-color: #77B1E9;
  cursor: pointer;
}
#exampleButton:hover p {
  font-size: 1.9rem;
  line-height: 5vh;
}
#secondHiddenPanel {
  display: none;
  background-color: #BFBFBF;
  left: 60vw;
  transition-duration: 1s;
  line-height: 7vh;
  border-radius: 1vw 1vw 1vw 1vw;
}
#backButton {
  position: absolute;
  height: 7.5vh;
  line-height: 0vh;
  text-align: center;
  background-color: grey;
  width: 18vw;
  left: 6vw;
  transition-duration: 1s;
  border-radius: 5px 5px 5px 5px;
}
#backButton p {
  transition-duration: 1s;
  font-weight: bold;
}
#backButton:hover {
  width: 21vw;
  height: 12.5vh;
  left: 4.5vw;
  background-color: #77B1E9;
  cursor: pointer;
}
#backButton:hover p {
  font-size: 1.9rem;
  line-height: 5vh;
}
#contactHead {
  position: absolute;
  left: 8vw;
  top: 27vh;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
}
#contactInfo {
  position: absolute;
  width: 70vw;
  height: 50vh;
  top: 40vh;
  left: 7vw;
  margin-bottom: 15vh;
  background-color: #BFBFBF;
  border-radius: 10px 10px 10px 10px;
}
#feedback {
  position: absolute;
  text-align: center;
  line-height: 5vh;
  height: 10vh;
  width: 15vw;
  left: 4vw;
  background-color: grey;
  border-radius: 5px 5px 5px 5px;
  transition-duration: 1s;
}
#feedback:hover {
  background-color: #77B1E9;
  cursor: pointer;
}
#feedback p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition-duration: 1s;
}
#feedback:hover p {
  font-size: 1.1rem;
}
#contactPic {
  left: 50vw;
  width: 30vw;
  background-image: url('../Pics/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}
