body {
  margin: 0;
  background-color: #EFEFEF;
}
#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  box-shadow: 0vh 0.3vh 2vh #4B4B4B;
  background-color: white;
  z-index: 4;
}
#logo {
  position: absolute;
  width: 8vh;
  height: 8vh;
  top: 1vh;
  right: calc(3vw - 0.5vh);
  border-radius: 2vw 2vw 2vw 2vw;
  background-image: url('../Pics/logo.png');
  background-size: cover;
  transition-duration: 1s;
}
#logo:hover {
  cursor: pointer;
}
#logoTwo {
  display: none;
  position: absolute;
  width: 8vh;
  height: 8vh;
  top: 1vh;
  right: calc(3vw - 0.5vh);
  border-radius: 2vw 2vw 2vw 2vw;
  background-image: url('../Pics/logoTwo.png');
  background-size: cover;
  transition-duration: 1s;
}
#logoTwo:hover {
  cursor: pointer;
}
#logoThree {
  display: none;
  position: absolute;
  width: 8vh;
  height: 8vh;
  top: 1vh;
  right: calc(3vw - 0.5vh);
  border-radius: 2vw 2vw 2vw 2vw;
  background-image: url('../Pics/logoThree.png');
  background-size: cover;
  transition-duration: 1s;
}
#logoThree:hover {
  cursor: pointer;
}
.navItem {
  position: absolute;
  height: 10vh;
  line-height: 10vh;
  width: 15vw;
  text-align: center;
  transition-duration: 800ms;
}
.navItem a {
  font-family: 'Staatliches', cursive;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition-duration: 800ms;
}
.navItem:hover {
  background-color: #E8E8E8;
  cursor: pointer;
}
.navItem:hover a {
  font-size: 2rem;
}
#slideShowFirst {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 50vh;
  /* background-image: url('../Pics/seattle.jpg'); */
  background-size: cover;
  background-position: 40% 30%;
  z-index: 3;
}
#firstImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../Pics/laptop.jpg');
  background-size: cover;
  background-position: 40% 30%;
  transition-duration: 800ms;
}
#secondImage {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../Pics/seattle.jpg');
  background-size: cover;
  background-position: 40% 30%;
  transition-duration: 800ms;
}
#thirdImage {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../Pics/laptop2.jpg');
  background-size: cover;
  background-position: 40% 30%;
  transition-duration: 800ms;
}
.bodyText {
  position: relative;
  font-family: 'Staatliches', cursive;
  font-size: 1.3rem;
  background-color: #DFDFDF;
  padding: 1vw;
  border-radius: 1vw 1vw 1vw 1vw;
  margin: 0;
}
#slideShowText {
  position: absolute;
  float: left;
  clear: left;
  left: 5vw;
  top: 35vh;
  max-width: 70vw;
}
#slideShowProgress {
  background-color: #DFDFDF;
  position: absolute;
  top: 35vh;
  right: 5vw;
  height: calc(1.3rem + 2vw);
  width: 12vw;
  border-radius: 1vw 1vw 1vw 1vw;
}
#firstSlideBox {
  position: absolute;
  background-color: #6F6F6F;
  top: calc(((1.3rem + 2vw) / 2) - 1vw);
  width: 2vw;
  height: 2vw;
  left: 1.5vw;
  border-radius: 1vw 1vw 1vw 1vw;
  transition-duration: 800ms;
}
#secondSlideBox {
  position: absolute;
  background-color: #BFBFBF;
  top: calc(((1.3rem + 2vw) / 2) - 1vw);
  width: 2vw;
  height: 2vw;
  left: 5vw;
  border-radius: 1vw 1vw 1vw 1vw;
  transition-duration: 800ms;
}
#thirdSlideBox {
  position: absolute;
  background-color: #BFBFBF;
  top: calc(((1.3rem + 2vw) / 2) - 1vw);
  width: 2vw;
  height: 2vw;
  left: 8.5vw;
  border-radius: 1vw 1vw 1vw 1vw;
  transition-duration: 800ms;
}
#firstSlideBox:hover {
  cursor: pointer;
}
#secondSlideBox:hover {
  cursor: pointer;
}
#thirdSlideBox:hover {
  cursor: pointer;
}
#mainPanel {
  position: absolute;
  top: 68vh;
  width: 90vw;
  left: 5vw;
  height: 20vh;
  margin-bottom: 10vh;
}
.subPanel {
  position: absolute;
  width: 30vw;
  height: 100%;
  text-align: center;
  background-color: #DFDFDF;
  transition-duration: 1s;
}
.subPanel:hover {
  background-color: #86B6F7;
  cursor: pointer;
}
.textContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20vh;
  line-height: 10vh;
}
.heading {
  font-family: 'Staatliches', cursive;
  font-size: 2.8rem; /* Adjust for screen size */
}
.iconContainer {
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 30vh;
}
#priceTable {
  position: absolute;
  background-color: white;
  width: 85vw;
  left: 7.5vw;
  height: 75vh;
  top: 15vh;
  /* border-radius: 1vw 1vw 1vw 1vw; */
  box-shadow: 0vh 0.2vh 2vh #B2B2B2;
}
.tablePanel {
  position: absolute;
  width: 33.33%;
  height: 100%;
  transition-duration: 1s;
  z-index: 3;
}
.textPanel {
  position: absolute;
  width: 108%;
  top: 0;
  height: 35%;
  text-align: center;
  line-height: 18vh;
}
.panelText {
  font-size: 2rem;
  font-family: 'Staatliches', cursive;
  transition-duration: 1s;
}
.lowerRise {
  position: absolute;
  bottom: 0;
  width: 75%;
  left: 12.5%;
  border-bottom: 1px solid grey;
}
#firstTable {
  /* border-radius: 1vw 0vw 0vw 1vw; */
  z-index: 4;
}
#secondTable {
  left: 33.33%;
  box-shadow: 0vh 0.2vh 1vh #B2B2B2;
  z-index: 4;
}
#thirdTable {
  left:66.66%;
  /* border-radius: 0vw 1vw 1vw 0vw; */
  z-index: 4;
}
#firstTable:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  height: 110%;
  box-shadow: 0vh 0vh 1vh #565656;
}
#secondTable:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  height: 110%;
  box-shadow: 0vh 0vh 1vh #565656;
}
#thirdTable:hover {
  background-color: #F1F1F1;
  cursor: pointer;
  height: 110%;
  box-shadow: 0vh 0vh 1vh #565656;
}
.tablePanel:hover .panelText {
  font-size: 2.4rem;
}
.lowerTextPanel {
  position: absolute;
  left: 7.5%;
  width: 85%;
  top: 35%;
  height: 40%;
  text-align: center;
  line-height: 6vh;
}
.lowerPanelText {
  font-family: 'Staatliches', cursive;
  font-size: 1.4rem;
}
.pricePanel {
  position: absolute;
  width: 100%;
  top: 75%;
  height: 25%;
  text-align: center;

}
.priceText {
  font-family: 'Staatliches', cursive;
  font-size: 2em;
}
